.transaction-overview_container {
	/* border: 1px solid black; */
	width: 80%;
	border-radius: 3px;
	background: white;
	/* background: rgba(114, 138, 183, 0.1); */
	/* background: rgba(245, 245, 245, 0.7); */
	box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.6);
	margin-top: 30px;
}

.transaction-overview-title {
	text-align: center;
}
