.custom-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.custom-button-label {
	width: 20%;
	font-weight: bold;
}

.radio-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80%;
}

.radio-button {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.radio-button label {
	width: 60%;
}
