.budget-overview_container {
	width: 30%;
	padding: 10px;
	border-radius: 3px;
	/* background: linear-gradient(0deg, rgba(57, 64, 31, 0.1), transparent); */
	background: rgba(237, 242, 243, 0.7);
	/* background: rgba(245, 245, 245, 0.7); */
	box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.9);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 30px;
}

.info-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.info-title {
	font-size: 18px;
	font-weight: 600;
}

.income-icon {
	color: lightseagreen;
}

.expenses-icon {
	color: tomato;
}

.balance-icon {
	color: deepskyblue;
}

.income-value {
	color: lightseagreen;
	font-size: 24px;
}

.expenses-value {
	color: tomato;
	font-size: 24px;
}

.balance-value {
	color: deepskyblue;
	font-size: 24px;
}
