.transaction-input_container {
	width: 40%;
	border-radius: 3px;
	background: rgba(245, 245, 245, 0.7);
	box-shadow: 0px 0px 6px rgba(68, 68, 68, 0.6);
}

h3 {
	text-align: center;
}

.mg-t {
	margin-top: 6px;
}

.form-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* padding-bottom: 20px; */
}

form {
	width: 100%;
}

.form-element {
	width: 100%;
	margin-bottom: 10px;
	padding: 0 40px;
}

.submit-button {
	margin: 8px 0px 18px;
	width: 100%;
}
