.header {
	/* background: linear-gradient(0deg, rgba(57, 64, 31, 0.1), transparent); */
	background: rgba(237, 242, 243, 0.7);
	/* box-shadow: 1px 1px 6px rgba(68, 68, 68, 0.6); */
	box-shadow: 0px -2px 6px black;
	padding: 6px 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	box-sizing: border-box;
	z-index: 100;
}

.logo {
	width: 150px;
}

.options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.option {
	padding: 0px 15px;
	text-decoration: none;
	color: #12262a;
}

.option:hover {
	color: #4e9bab;
}
